---
import { replaceUrls } from '../utils/replaceUrls';
import {joinClasses} from '../utils/joinClasses';
import { FontAwesomeIcon }from "@fortawesome/react-fontawesome";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
type Props = {
    classes: string;
    styles: string;
    label: string;
    url: string;
}
const {classes, styles, label, url} = Astro.props;
const allClasses = joinClasses(classes, "group relative"); // group = our tailwind class
// console.log("Astro.url: ", Astro.url);
const href = replaceUrls(url, Astro.url.host); // replace our wp url with our astro url
---
{/* <li class="{joinClasses(classes, "group")} style={styles}> // could have been used */}

<li class={allClasses} style={styles}>
    <a href={href}>
        {label}
        <FontAwesomeIcon className="text-xs pl-1" icon={faChevronDown} />
    </a>
    <ul class="hidden group-hover:block absolute top-full right-0 text-right whitespace-nowrap bg-event-horizon py-2 [&_a]:px-4 [&_a]:py-2 [&_a]:block"> {/* even-horizon is our color and needs to be added to our css */}
        <slot /> 
    </ul>
</li>